<%- include('includes/head') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">node.js Site</h1>
    <p class="lead">First time on the server-side of JavaScript</p>
  </div>
</div>

<% if (showTitle) { %>
  <h1><%= title %></h1>
<% } %>

<% household.forEach(function(member) { %>
  <li><%= member %></li>
<% }) %>

<%- include('includes/footer') %>
